@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap'); /*font-family: 'Bungee Spice', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
}

#game {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
    background-image: url('../imgs/fondo.png');
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 5%;
}

#character {
    width: 100px;
    height: 100px;
    position: relative;
    top: 300px;
    left: 100px;
}

#boy {
    width: 100px;
    height: 100px;
}

#bottom {
    top: 500px;
    z-index: 100;
    position: absolute;
    width: 300px;
    height: 130px;
    background-color: aliceblue;
}

#block {
    width: 100px;
    height: 100px;
    top: 500px;
    position: relative;
    animation: slide 1.5s infinite linear;
}

#block > img{
    position: absolute;
    left: 10px;
}

.train {
    width: 100px;
    height: 100px;
}

@keyframes slide {
    0% {
        top: -500px;
    }

    100% {
        top: 500px;
    }
}

#left,
#right {
    width: 50%;
    position: absolute;
    height: 500px;
}

#right {
    left: 50%;
}

#puntuacion{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 30px;
    margin-bottom: 5%;
    margin-top: 5%;
}

#nivel{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
}

#resetButton{
    background-color: aliceblue;
    height: 30px;
    width: 120px;
    font-family: 'Bungee Spice', sans-serif;
    border: 1px solid rgb(156, 83, 24);
    border-radius: 5px;
    
    visibility: hidden;

    margin-bottom: 100px;
}

#resetButton:hover{
    background-color: rgb(136, 214, 110);
    border: 1px solid rgb(136, 214, 110);
}

#punt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


#gameOver, #win{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    top: 45%;
    text-shadow: -3px 4px 12px rgba(255,221,195,0.97);
    font-family: 'Bungee Spice', sans-serif;
}
/* IDEA para colocar obstáculo... hay que cambiar igualmente la posicion del character and other things
#xd img{
    display: flex;
    
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 300px;
}

#xd{
    position: relative;
    bottom: 22%;
    left: 15%;
}